<div class="container">
  <%= link_to "Back to all cocktails", cocktails_path %>
  <h1><%= @cocktail.name %></h1>

  <div>
    <h2>Doses</h2>
    <% @cocktail.doses.each do |dose| %>
      <div class="cocktail_dose">
        <p>Ingredient: <%= dose.ingredient.name %></p>
        <p>Amount: <%= dose.amount %></p>
        <p>Description: <%= dose.description %></p>
      </div>
    <% end %>

    <h2>Ingredients</h2>
    <% @cocktail.ingredients.each do |ingredient| %>
      <div>
        <p>Name: <%= ingredient.name %></p>
      </div>
    <% end %>
  </div>
</div>
